 #iletisim-form {
     margin: auto;
     margin-top: 2%;
     width: 1000px;
     padding: 20px;
     border: 0.4px solid black;
     border-radius: 10px;
     background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color:white;
     
     margin-bottom: 2%;
 }

 #iletisim-form {
     font-size: 16px;
 }

 .radios input,
 label {
     margin-top: 18px;
     margin-bottom: 0px;
     margin-left: 0px;
 }

 #cinsiyet1 {
     margin-left: 5px;
 }

 #cinsiyet2 {
     margin-left: 0px;
 }

 body {
     /* Location of the image */
     background-image: url(../Images/background-umg.jpg);

     /* Background image is centered vertically and horizontally at all times */
     background-position: center center;

     /* Background image doesn't tile */
     background-repeat: no-repeat;

     /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
     background-attachment: fixed;

     /* This is what makes the background image rescale based
    on the container's size */
     background-size: cover;

     /* Set a background color that will be displayed
    while the background image is loading */
     background-color: #464646;
 }
 #eksikAd{
     font-size: 12px;
     color: red;
 }
 #eksikYas{
     font-size: 12px;
     color: red;
 }
 #eksikSoyad{
     font-size: 12px;
     color: red;
 }
 #eksikTelefon{
     font-size: 12px;
     color: red;
 }
 #eksikEmail{
     font-size: 12px;
     color: red;
 }
 #eksikCins{
     font-size: 12px;
     color: red;
 }
 #eksikMesaj{
     font-size: 12px;
     color: red;
 }
 #eksikOnay{
    font-size: 12px;
    color: red;
 }
 #form-eleman{
     display: inline-block;
     width:40%
 }
 #MesajBox{
     display: inline-block;
     vertical-align: top;
 }
 #onay{
     margin-top:10px;
     margin-left:16px;
 }
 @media screen and (max-width:1024px) and(min-width:768px)
    {
        #mesaj{
            width:10px
            
        }

        
    }
 @media screen and (max-width:576px)
    {
        #mesaj{
            width:420px
            
            
        }
        #MesajBox{
            display:block;
        }
        #iletisim-form {
            width: 500px;
        }

        
    }